*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/wp4984931.jpg");
    font-family: 'Maiden Orange', cursive;
}
.jumbotron{
    background: rgb(146, 190, 226);
}

.display-4{
    font-size: 80px;
    text-align: center;
}

.lead{
    font-size: 35px;
    text-align: center;
}

#startBtnDiv, #optionsBtn, #playagainDiv{
    text-align: center;

}

#resultsDiv{
    text-align: center;
    font-size: 25px;
}


#startBtn:hover,#optionsBtn:hover, #playagainBtn:hover{

    background-color:rgb(232, 27, 61);
	border-color: rgb(235, 25, 88);
}
