*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/wp4984931.jpg");
    font-family: 'Maiden Orange', cursive;
}
.jumbotron{
    background: rgb(146, 190, 226);
}

.display-4{
    font-size: 80px;
    text-align: center;
}

.lead{
    font-size: 35px;
    text-align: center;
}

#startBtnDiv,#playagainDiv{
    text-align: center;

}

#resultsDiv{
    text-align: center;
    font-size: 25px;
}


#startBtn:hover,#playagainBtn:hover, .choiceDiv:hover{

    background-color:rgb(232, 27, 61);
	border-color: rgb(235, 25, 88);
}

.choiceDiv{
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
    width: 400px;
    height: 40px;
    background-color: rgb(36, 136, 203);
    border: 1px solid;
}

